{% extends 'app/app_base.html' %}

{% block content %}
<div class="container-fluid con">
  <div class="row d-flex justify-content-center">
      <div class="col-md-3">
          <div class="card">
              <h5 class="card-header">Baustelle</h5>
              <div class="card-body">
                <form action="{% url 'predict' %}" method="post">
                <div class="form-group"> 
                  <input type="text" class="form-control" name="id" placeholder="101227"> 
                </div> <br/>
                <div class="form-group"> 
                  <input type="text" class="form-control" name="days" placeholder="Letzten Tage"> 
                </div> 
              </div>
              <div class="card-footer d-flex justify-content-center">
                <input type="submit" value="Mine" class="btn btn-primary">
                  </div>
                </form>
            </div>
      </div>

      <div class="col-md-9">
          <div class="card">
              <h5 class="card-header">Tätigkeiten</h5>
              <div class="card-body d-flex justify-content-center">
              {% if image %}
              <svg width=1000px height=600px viewbox="0 0 1000 600">{{image | safe}}</svg>
              {% endif %}
              </div>
            </div>
      </div>
  </div>
  <br/>
  <div class="row d-flex justify-content-center">
    <div class="col-md-3">
    </div>

    <div class="col-md-9">
        <div class="card">
            <h5 class="card-header">Personen</h5>
            <div class="card-body d-flex justify-content-center">
              {% if image %}
              <svg width=1000px height=600px viewbox="0 0 1000 600">{{personen | safe}}</svg>
              {% endif %}
              </div>
          </div>
    </div>
  </div> 
  <br/>
  <div class="row d-flex justify-content-center">
    <div class="col-md-3">
    </div>

    <div class="col-md-9">
        <div class="card">
            <h5 class="card-header">Wetter</h5>
            <div class="card-body d-flex justify-content-center">
              {% if image %}
              <svg width=1000px height=600px viewbox="0 0 1000 600">{{wetter | safe}}</svg>
              {% endif %}
              </div>
          </div>
    </div>
  </div>
  <br/>
  <div class="row d-flex justify-content-center">
    <div class="col-md-3">
    </div>

    <div class="col-md-9">
        <div class="card">
            <h5 class="card-header">Geräte</h5>
            <div class="card-body d-flex justify-content-center">
              {% if image %}
                <svg width=1000px height=600px viewbox="0 0 1000 600">{{geraete | safe}}</svg>
              {% endif %}
              </div>
          </div>
    </div>
  </div>
</div>
{% endblock content %}